<h1><%= @meal.name %></h1>

<ul>
  <% @meal.ingredients.each do |ingredient| %>
    <li>
      <%= "#{ingredient.name}" + " measure: " + "#{Recipe.find_by(meal_id: @meal.id, ingredient_id: ingredient.id).measure}" %>
    </li>
  <% end %>
</ul>

<%=image_tag image_url(@meal.img_url)%>
